:root {
  --mainColor: #333333;
  --orange: #cc9933;
  --gray: #999999;
  --white: #fff;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerLight.woff) format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerMedium.woff) format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerRegular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;

  background-color: #f1f1f1;

  font-family: 'Muller', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: var(--mainColor);
  font-weight: 400;
}

body.no-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

strong {
  font-size: 22px;
  color: var(--mainColor);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hf-arrow-icon {
  display: inline-block;
  width: 9px;
  height: 16px;

  fill: none;
  stroke: #ffcc66;
  stroke-linecap: round;
  stroke-width: 2px;
  fill-rule: evenodd;
}

.text-center {
  text-align: center;
}

.section {
  padding-top: 67px;
}

.section-row:not(:first-child) {
  margin-top: 30px;
}

.section__title {
  padding-left: 42px;
  margin-bottom: 23px;

  font-family: 'Muller', sans-serif;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: var(--mainColor);
}

.link {
  display: inline-block;

  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #ffcc66;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  border: 1px solid var(--orange);
  border-radius: 12px;
  padding: 25px 30px;
  
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: var(--white);

  background-color: var(--orange);

  transition: transform .1s linear;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.04);
}


/* Header */
.header {
  width: 100%;
  height: 190px;
  padding-top: 30px;
}

.header__intro {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header__intro > :first-child {
  margin-right: auto;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  margin-right: 25px;
  border-radius: 10px;
  overflow: hidden;
}

.header__link {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  color: #666666;
  text-decoration: none;
}

.header__link:focus {
  outline: none;
  border-bottom: 2px solid var(--mainColor);
}

.account__icon {
  display: inline-block;
  height: 14px;
  width: 14px;

  fill: var(--orange);
}

.account__link {
  color: var(--orange);
}

.account__link:focus {
  outline: none;
  border-bottom: 2px solid var(--orange);
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 11px 21px;
  border: 1px solid var(--white);
  border-radius: 12px;

  background-color: var(--white);
}

.header__inner > :first-child {
  margin-right: auto;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 46px;
}

.nav__link {
  color: var(--mainColor);
}

.header__search {
  max-width: 355px;
  width: 100%;
  margin-left: auto;

  position: relative;
}

.search__icon {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 2;
}

.search__input {
  display: block;
  width: 100%;
  padding: 18px 50px 18px 20px;

  background-color: #f1f1f1;
  border: 1px solid var(--white);
  border-radius: 15px;

  font-family: 'Muller', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: var(--mainColor);
}

.search__input:focus {
  outline-color: var(--mainColor);
}

.search__input::placeholder {
  color: #bebebe;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}


/* Main */

/* Reservation */
.reservation--container {
  padding-top: 70px;
}

.reservation__information {
  display: flex;
  flex-direction: column;
}

.reservation__information-input {
  width: 100%;
  padding: 26px 26px;
  margin-bottom: 24px;
  border: 1px solid var(--white);
  border-radius: 12px;

  background-color: var(--white);

  font-family: 'Muller', sans-serif;
  font-size: 16px;
  color: var(--mainColor);
  font-weight: 400;
}

.reservation__information-input::placeholder {
  color: var(--gray);
}

.reservation__content {
  display: flex;
  align-items: center;
}

.reservation__content-text {
  margin-left: 30px;

  font-size: 16px;
  color: var(--gray);
  font-weight: 400;  
}

.reservation__content-text span {
  color: var(--orange);
}

.section-special {
  display: flex;
  flex-direction: column;
}

.article__special {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding: 34px 40px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  overflow: hidden;

  background-image: url(../images/first/22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.article__special-title {
  margin-bottom: 23px;

  font-size: 66px;
  line-height: 1;
  font-weight: 700;
  color: var(--white);
}

.special__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special__content-text {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, .49);
}

.special__content-link {
  display: inline-block;
  display: flex;
  align-items: center;
}

.special__icon {
  margin-left: 5px;
}

.special__content-link:focus {
  outline: none;
  border-bottom: 2px solid #ffcc66;
}


/* About */
.about {
  padding-left: 42px;
  padding-right: 240px;

  color: #666666;
}


/* Services */
.services__item {
  border-radius: 12px;
  overflow: hidden;

  background-color: var(--white);
}

.services__item-image {
  max-height: 166px;
}

.services__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__item-content {
  padding: 30px 130px 30px 40px;
}

.services__content-link {
  display: inline-block;

  font-size: 22px;
  font-weight: 500;
  color: var(--orange);

  position: relative;
}

.services__icon {
  stroke: var(--orange);

  position: absolute;
  top: 2px;
  right: -20px;
}


/* Advantages */
.advantages__item {
  padding: 42px;
  border-radius: 12px;

  background-color: var(--white);
}

.advantages-icon {
  width: 63px;
  height: 59px;
}


/* Placement */
.placement__item {
  border-radius: 12px;
  overflow: hidden;

  background-color: var(--white);
}

.placement__item.bg {
  padding: 52px 39px;
  display: flex;
  align-items: flex-end;

  background-image: url('../images/placement/41.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.placement__item-image {
  max-height: 218px;
}

.placement__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placement__item-content {
  padding: 36px 44px 43px;

  line-height: 1;
}

.placement__item-info {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.placement__item-info > :first-child {
  margin-right: auto;
}

.placement__item-price span{
  color: #969696;
}

.placement__item-stars {
  padding-top: 5px;
}

.placement-icon {
  width: 14px;
  height: 13px;
}

.placement__item-name {
  margin-bottom: 15px;
}

.placement__item-place {
  color: var(--gray);
}

.placement__item-btn {
  margin-top: 20px;
  padding: 13px 20px;

  color: var(--orange);

  background: none;
}

.placement__item-link {
  font-size: 22px;
  color: var(--white);
}

.placement__item-link::after {
  content: "";
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.placement__icon {
  stroke: var(--white);

  position: relative;
  top: 3px;
  left: 5px;
}


/* Contacts */
.section-contacts {
  padding-top: 67px;
}

.contacts__inner {
  padding: 45px;
  border-radius: 12px;

  background-color: var(--white);
}

.contacts__address {
  font-style: normal;
}

.contacts__address-item {
  display: flex;
  padding-top: 23px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.contacts__address-item > :first-child {
  margin-right: auto;
}

.contacts__address-item:first-child {
  padding-top: 0;
}

.contacts__address-title {
  width: 35%;

  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
  color: #666666;
}

.contacts__address-content {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.contacts__address-content span {
  color: var(--gray);
}

.contacts__address-link  {
  color: var(--orange);
  line-height: 1.5;
}

.contacts__btn {
  margin-top: 44px;

  background: none;

  color: var(--orange);
}

.contacts__form h3 {
  padding-left: 0;
  margin-bottom: 35px;
}

.contacts__form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  margin-bottom: 23px;
  padding: 25px 20px;
  border: none;
  border-radius: 12px;

  font-family: 'Muller', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: var(--mainColor);
  font-weight: 400;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: var(--gray);
}

.form__textarea {
  resize: none;
}


/* Footer */
.footer {
  padding-top: 22px;
  padding-bottom: 52px;
}

.footer__inner {
  padding: 48px 49px;
  border-radius: 12px;

  color: #e6e6e6;

  background-color: var(--mainColor);
  background-image: url("../images/footer/Слой\ 27\ копия.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 734px bottom;
}

.footer__text {
  color: #e6e6e6;
}

.footer__text p {
  margin-bottom: 35px;
}

.text__link {
  color: var(--orange);
}

.footer__contacts {
  color: #e6e6e6;
  font-style: normal;
}

.contacts__phones {
  margin-top: 30px;
}

.contacts__mails {
  margin-top: 30px;
}

.contacts__link {
  display: block;

  color: var(--orange);
  line-height: 1.5;
}

.footer__logos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  line-height: 0;
}

.logos__link:not(:last-child) {
  margin-bottom: 21px;
}

.logos__social {
  width: 25px;
  height: 25px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}